
/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}




/* BACK TO THE TOP */

/* Para id, usa-se # */

/*
#link-topo {
  text-decoration: none;
  color: white;
  background-color: #455775;
  padding: 10px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  box-shadow: 3px 3px 10px #333;
}
*/








