* {
  box-sizing: border-box;
}


/*
img {
  width: 100%;
}
*/

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

#body_Login {
  /* background-color: #61789a; */
  background: url("../../Img/wallpaper/AdobeStock_126353528.jpeg");
}


.box_shadow_login {
  box-shadow: rgb(0 37 79) 0px 8px 17px -5px;
}

.box_shadow {
  box-shadow: rgb(0 37 79) 0px 0px 12px -5px;
}